.tag {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:hover {
color: white;
background-color: var(--text-accent-hover);
}
.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}
.tag[href^="#important"] {
  background-color: #f03738;
}
.tag[href^="#complete"] {
  background-color: #73BFB8;
}
.tag[href^="#inprogress"] {
  background-color: #DE6449;
}
.tag[href^="#todo"] {
  background-color: #fec601;
}
.tag[href^="#shell"] {
  background-color: #029cde;
}
.tag[href^="#path"] {
  background-color: #80cef0;
}
.tag[href^="#ruby"] {
  background-color: #b4292a;
}
